#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- PREFIX=/usr UPDATE_DESKTOP_DATABASE=no

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr UPDATE_DESKTOP_DATABASE=no
